extend layout
block content
    h1
        | View Frog Details


    div.leftpanel
        table#view-table.ui-responsive()
            tbody
                tr
                    th Frog ID
                    td=frog.frogid
                tr
                    th Tank #
                    td=frog.tankid
                tr
                    th Gender
                    td=frog.gender
                tr
                    th Species
                    td=frog.species
                tr
                    th Condition
                    td=frog.condition
                tr
                    th QEN
                    td=frog.qen
                tr
                    th Location
                    td.red=frog.location

    div.rightpanel
        div#dorsal.thumb
            p Dorsal Photo
            a(href='#popupFrogd_' + frog.frogid, data-rel='popup', data-position-to='window', data-transition='fade')
                img.popphoto(src='http://127.0.0.1:5984/frogdb/'+frog._id +'/dorsalimage', width=80, alt='#{frog.frogid}')
            div(id='popupFrogd_' + frog.frogid, data-role='popup', data-overlay-theme='b', data-theme='b', data-corners='false')
                a.ui-btn.ui-corner-all.ui-shadow.ui-btn-a.ui-icon-delete.ui-btn-icon-notext.ui-btn-right(href='#', data-rel='back') Close
                img.popphoto(src='http://127.0.0.1:5984/frogdb/'+frog._id +'/dorsalimage', style='max-height:512px;', alt='Frog ID #{frog.frogid}')
        div#ventral.thumb
            p Ventral Photo
            a(href='#popupFrogv_' + frog.frogid, data-rel='popup', data-position-to='window', data-transition='fade')
                img.popphoto(src='http://127.0.0.1:5984/frogdb/'+frog._id +'/ventralimage', width=80, alt='#{frog.frogid}')
            div(id='popupFrogv_' + frog.frogid, data-role='popup', data-overlay-theme='b', data-theme='b', data-corners='false')
                a.ui-btn.ui-corner-all.ui-shadow.ui-btn-a.ui-icon-delete.ui-btn-icon-notext.ui-btn-right(href='#', data-rel='back') Close
                img.popphoto(src='http://127.0.0.1:5984/frogdb/'+frog._id +'/ventralimage', style='max-height:512px;', alt='Frog ID #{frog.frogid}')


    div.details
        h2
            | Death Details
        table#death-table.ui-responsive()
            thead
                tr
                    th Death
                    th Date
                    th Initials
            tbody                
                tr
                    td=frog.death
                    td=frog.death_date
                    td=frog.death_initials

    div.details
        h2
            | Disposal Details
        table#disposal-table.ui-responsive()
            thead
                tr
                    th Disposal action
                    th Date
                    th Run #
            tbody            
                tr
                    td Autoclaved
                    td=frog.autoclave_date
                    td=frog.autoclave_run
                tr
                    td Incinerated
                    td=frog.incinerate_date
                    td

block sidebar
    .widget
        h1 Menu
        div.sidemenu
            a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-icon-gear.ui-btn-icon-left.ui-btn-a(href='#popupMenu', data-rel='popup', data-transition='slideup') ...
            div(id='popupMenu', data-history='false', data-role='popup', data-theme='b')
                ul(data-role='listview', data-inset='true', style='min-width:210px;')
                    li(data-role='list-divider') Choose an action
                    li
                        a(href='/frogs') View All
                    li
                        a(href='/operations/#{frog._id}') Operations
                    li
                        a(href='/frogs/edit/#{frog._id}') Edit
                    li
                        a(href='/frogs/death/#{frog._id}') Death
                    li
                        a(href='/frogs/disposal/#{frog._id}') Disposal