extend layout
block content
    h1
        | View Shipment Details


    div.leftpanel
        table#view-table.ui-responsive()
            tbody
                tr
                    th AQIS Permit ID
                    td=shipment.aqis
                tr
                    th QEN
                    td=shipment.qen
                tr
                    th Females
                    td=shipment.females
                tr
                    th Males
                    td=shipment.males
                tr
                    th Arrival Date
                    td=shipment.arrivaldate
                tr
                    th Species
                    td=shipment.species
                tr
                    th Supplier
                    td=shipment.supplier
                tr
                    th Country
                    td=shipment.country

        div
            hr
            h3 Generate Frogs for this shipment (optional)
            form#generate(action='/shipments/generate', method="POST")
                fieldset(legend='Generate Frogs')
                div.control-group  
                    label(for='prefix') Frog ID prefix (optional):
                    div.controls
                        input#prefix(type='text', name='prefix', value='')
                div.control-group 
                    label(for='startnum') Frog ID starting number:
                    div.controls
                        input#startnum(name='startnum', type='number', value=1)
                div.control-group 
                    label(for='tankid') Frog Tank ID (optional):
                    div.controls
                        input#tankid(name='tankid', type='number', value=0)
                div.control-group 
                    label(for='location') Current Location
                    div.controls
                        select#location(name='location',selected='Stored in AIBN Animal House')
                            option(value='Stored in AIBN Animal House') Stored in AIBN Animal House
                            option(value='Disposed of at AIBN Animal House') Disposed of at AIBN Animal House
                            option(value='Disposed of at Otto Hirschfeld Animal House') Disposed of at Otto Hirschfeld Animal House
                            option(value='Other') Other
                    
                input#id(type='hidden', value='#{shipment._id}', name='id')
                input(type='submit', value='Generate Frogs', class='btn btn-success')


block sidebar
    .widget
        h1 Menu
        table.sidemenu
            tr
                td
                    a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-icon-gear.ui-btn-icon-left.ui-btn-a(href='#popupMenu', data-rel='popup', data-transition='slideup') ...
                    div(id='popupMenu', data-history='false', data-role='popup', data-theme='b')
                        ul(data-role='listview', data-inset='true', style='min-width:210px;')
                            li(data-role='list-divider') Choose an action
                            li
                                a(href='/shipments/edit/#{shipment._id}') Edit
                            li
                                a(href='/shipments/delete/#{shipment._id}') Delete
                            li
                                a(href='/frogs/byShipment/#{shipment._id}/0/0') View Frogs
                                